# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Cvode files
/cvode/instdir/
/cvode/builddir/

# Executables
/biort

# Indent temp files
*~

# Input, output
/input/*
!/input/Konza
/output/*

# Winmerge backups
*.bak

# Third party libraries
third_party
advisor

# IDE
/ide

# VS Code
/.vscode

# Mac OS
.DS_Store
